<div class="container-fluid">
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right" %>
    <% end %>
  <main role="main" class="ethics">
    <h1 class="h2"><%=t 'ethics.h1' %></h1>
    <p><%=t 'ethics.p1' %></p>
    <p><%=t 'ethics.p2' %> <a href="<%=t 'ethics.link'%>" target="_blank"><%=t 'ethics.text_link'%></a><%=t 'ethics.p2b' %></p>
  </main>
</div>
