<div class="container-fluid">
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right" %>
    <% end %>
</div>
<% if @news.all.any?  %>
    <div class="news-slider">
        <div class="container-fluid">
            <%= render "layouts/slidernews" %>
        </div>
    </div>
<% end %>

<%= render "layouts/langdropdown" %>
<div class="container-fluid">
  <div class="title">
    <h1><%=t 'homepage.h1' %></h1>
    <p class="sub-heading"><%=t 'homepage.subtitle' %></p>
  </div>
</div>

<main role="main" class="about grey-band">
  <div class="container-fluid">
    <h2><%=t 'homepage.about.h2' %></h2>

    <% t('homepage.about.subsections').each do |subsection| %>
        <div class="sub-section">
          <h3><%= subsection[:h3]%></h3>
          <p>
              <%= subsection[:p1]%>
              <% if subsection[:jrp] && subsection[:p1b] %>
                  <a href="<%= subsection[:jrp_link]%>"><%= subsection[:jrp]%></a><%= subsection[:p1b]%>
              <% end %>
          </p>
          <% if subsection[:p2] %><p><%= subsection[:p2]%></p><% end %>
          <% if subsection[:p3] %><p><%= subsection[:p3]%></p><% end %>
          <% if subsection[:image] %>
            <img src="<%= image_path(subsection[:image]) %>" alt="<%= subsection[:image_alt]%>" class="<%= subsection[:image_class]%>">
          <%end%>
        </div>
    <% end %>
  </div>
</main>
