<div class="container-fluid">
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right" %>
    <% end %>
  <div class="title">
    <h1><%=t 'homepage.h1' %></h1>
    <p class="sub-heading"><%=t 'homepage.subtitle' %></p>
  </div>
</div>

<main role="main" class="about grey-band">
  <div class="container-fluid">
    <h2><%=t 'homepage.about-title' %></h2>
    <div class="sub-section">
      <h3><%=t 'homepage.about-subtitle1' %></h3>
      <p><%=t 'homepage.about-p1' %></p>
      <%= image_tag("team.jpg", alt: "Team picture", class: "team-pic") %>
    </div>
    <div class="sub-section">
      <h3><%=t 'homepage.about-subtitle2' %></h3>
      <p><%=t 'homepage.about-p2' %></p>
    </div>
    <div class="sub-section">
      <h3><%=t 'homepage.about-subtitle3' %></h3>
      <p><%=t 'homepage.about-p3-1' %></p>
      <p><%=t 'homepage.about-p3-2' %></p>
      <p><%=t 'homepage.about-p3-3' %></p>
    </div>
    <div class="sub-section">
      <h3><%=t 'homepage.about-subtitle4' %></h3>
      <p><%=t 'homepage.about-p4' %></p>
    </div>
    <div class="sub-section">
      <h3><%=t 'homepage.about-subtitle5' %></h3>
      <p><%=t 'homepage.about-p5-1' %></p>
      <p><%=t 'homepage.about-p5-2' %></p>
      <p><%=t 'homepage.about-p5-3' %></p>
    </div>
  </div>
</main>
