<div class="container-fluid">
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right" %>
    <% end %>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <main role="main" class="contact-us">
                <h1 class="h2"><%=t 'contact_us.h1' %></h1>
                <p class="sub-heading"><%=t 'contact_us.p1' %></p>

                <form>
                    <label for="email-contact-us" class="access"><%=t 'contact_us.label1' %></label>
                    <input type="email" id="email-contact-us" name="email" placeholder="Email">
                    <label for="subject" class="access"><%=t 'contact_us.label2' %></label>
                    <input type="text" name="subject" placeholder="Subject">
                    <label for="" class="access"><%=t 'contact_us.label3' %></label>
                    <textarea placeholder="Message..."></textarea>
                    <button type="submit"><%=t 'contact_us.button' %></button>
                </form>
            </main>
        </div>
    </div>
</div>
