<% if user_signed_in? %>
    <div class="container-fluid">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right" %>
    </div>
<% end %>
<main role="main" class="team container-fluid">
  <h1 class="h2"><%=t 'team.h1'%></h1>
  <div class="profiles">
    <% t('team.profiles').each do |profile| %>
        <div class="section">
            <img src="<%= image_path(profile[:image]) %>" alt="<%= profile[:name]%>">
            <div>
              <h2><%= profile[:name]%></h2>
              <span class="sub-heading"><%= profile[:role]%></span>
              <span class="uni"><%= profile[:university]%></span>
              <p><%= profile[:quote]%></p>
            </div>
        </div>
    <% end %>
  </div>
</main>
