<main role="main" class="team container-fluid">
  <h1 class="h2">Research team</h1>

  <div class="profiles">
    <div class="section">
      <%= image_tag("Angelos P. Kassianos.jpg", alt: "Angelos P. Kassianos") %>
      <div>
        <h2>Angelos P. Kassianos</h2>
        <span class="sub-heading">Research Supervisor</span>
        <span class="uni">University of Cyprus (Cyprus) and University College London (UK)</span>
        <p>“I am a Post-doctoral Researcher in the area of Health Psychology with the vision of finding new ways to optimize well-being in health care.”</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("Caroline Vintergaard Ott.jpg", alt: "Caroline Vintergaard Ott") %>
      <div>
        <h2>Caroline Vintergaard Ott</h2>
        <span class="sub-heading">Junior Researcher</span>
        <span class="uni">University of Copenhagen (Denmark)</span>
        <p>“Structured, hard working and fun loving postgraduate student with ambitions to pursue a career within research, focusing on improving the treatment of mental illnesses.”</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("Victor Estal Munoz.jpg", alt: "Víctor Estal Muñoz") %>
      <div>
        <h2>Víctor Estal Muñoz</h2>
        <span class="sub-heading">Project Manager</span>
        <span class="uni">Autonomous of Madrid University (Spain)</span>
        <p>“Postgraduate student interested in both applied and research aspects of Clinical Psychology. His main concern is the explanation of why people change in therapy.”</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("Pietro Marenco.jpg", alt: "Pietro Marenco") %>
      <div>
        <h2>Pietro Marenco</h2>
        <span class="sub-heading">Project Manager</span>
        <span class="uni">University of Bologna (Italy) and University of Valencia (Spain) </span>
        <p>“Postgraduate student on Work, Organizational and Personnel Psychology, my mission is surfing the wave of the Evidence-Based Practice movement, that is, bringing science at benefitting all the people in-and out of work”.</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("Silvana Mareva.jpg", alt: "Silvana Mareva") %>
      <div>
        <h2>Silvana Mareva</h2>
        <span class="sub-heading">Junior Researcher</span>
        <span class="uni">University of Edinburgh</span>
        <p>“Undergraduate student interested in the research and applied aspects of Clinical Neuropsychology. Aspiring to raise public awareness about psychological research findings.”</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("Tobias Wingen.jpg", alt: "Tobias Wingen") %>
      <div>
        <h2>Tobias Wingen</h2>
        <span class="sub-heading">Communications Officer</span>
        <span class="uni">University of Cologne</span>
        <p>“I am a master-level psychology student from Cologne, Germany. My main research interests are research methods and social cognition research. I want to use smartphone applications in my future research.”</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("Barbara Schmidt.jpg", alt: "Barbara Schmidt") %>
      <div>
        <h2>Barbara Schmidt</h2>
        <span class="sub-heading">Technical Officcer</span>
        <span class="uni">Budapest University of Technology and Economics (Hungary)</span>
        <p>Organizational- and workpsychology MA student from Budapest, Hungary. My main interests are: improving user experience in smartphone applications and applied behavioral economics.</p>
      </div>
    </div>
    <div class="section">
      <%= image_tag("David Thomson.jpg", alt: "David Thomson") %>
      <div>
        <h2>David Thomson</h2>
        <span class="sub-heading">Dissemination Officer</span>
        <span class="uni">The University of Glasgow (Scotland)</span>
        <p>Final year undergraduate student with an interest in clinical, health and evolutionary psychology. My goal is to gain experience both in applied fields of clinical psychology and academic health research.</p>
      </div>
    </div>
    <div class="section">
      <div>
        <h2>Niki Karakonstanti</h2>
        <span class="sub-heading">External Collaborator</span>
        <span class="uni">University of Cyprus (Cyprus)</span>
        <p>Postgaduate student in either Clinical or Counseling Psychology (to be determined). My future ambition is a career  in both applied and research field. I am mainly interensting in individual's conscious and unconsious part.</p>
      </div>
    </div>
    <div class="section">
      <div>
        <h2>Anthony Bukhalana</h2>
        <span class="sub-heading">External Collaborator – App developer</span>
        <span class="uni">Jomo Kenyatta University of Agriculture And Technology (Kenya)</span>
        <p>I am a dynamic mobile application developer with a keen interest in mobile technology. Currently undertaking a masters in Mobile Technology and Innovation. I intend to be part of the mobile revolution in the whole world.</p>
      </div>
    </div>
  </div>
</main>
