<% if user_signed_in? %>
    <div class="container-fluid">
        <div class="row">
            <div>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right"%>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <main role="main">
                    <h1 class="h2">Edit a news</h1>
                    <%= form_for @news do |f| %>
                        <%= f.label :description, "English:" %>
                        <%= f.text_area :description %>

                        <%= f.label :description_it, "Italian:" %>
                        <%= f.text_area :description_it %>

                        <%= f.label :description_es, "Spanish:" %>
                        <%= f.text_area :description_es %>

                        <%= f.label :description_hu, "Hungarian:" %>
                        <%= f.text_area :description_hu %>

                        <%= f.label :description_el, "Greek:"%>
                        <%= f.text_area :description_el %>

                        <%= f.label :description_de, "German:"%>
                        <%= f.text_area :description_de %>

                        <%= f.label :description_da, "Danish:" %>
                        <%= f.text_area :description_da %>

                        <%= f.submit %>
                    <% end %>
                </main>
            </div>
        </div>
    </div>
<% end %>
