<div class="container-fluid">
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "float-right"%>
        <a href="<%= new_news_path %>" class="button clear float-right">Add news</a>
    <% end %>

    <main role="main" class="news_updates<% if user_signed_in? %> clear<% end %>">
        <h1 class="h2"><%=t 'news.h1' %></h1>
        <% if @news.all.any? %>
            <table>
                <caption class="access"><%=t 'news.caption' %></caption>
                <tbody>
                    <% @news.all.each do |post| %>
                        <tr>
                            <td><%= post.created_at.strftime("%v") %></td>
                            <td>
                                <%= render partial: "layouts/locales", locals: {post: post}  %>
                            </td>
                            <% if user_signed_in? %>
                                <td><%= link_to "Edit", edit_news_path(post) %></td>
                                <td><%= link_to "Delete", news_path(post), method: :delete %></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            <p><%=t 'news.no_message' %></p>
        <% end %>
    </main>
</div>
