<div class="owl-carousel owl-theme">
    <% @news.all[0..4].each do |post| %>
        <div class="item"><%= post.created_at.strftime("%v") %>:
        <% if I18n.locale == :en %>
            <%= post.description %>
        <% elsif I18n.locale == :it %>
            <% if post.description_it %><%= post.description_it %><% else %><%= post.description %><% end %>
        <% elsif I18n.locale == :es %>
            <% if post.description_es %><%= post.description_es %><% else %><%= post.description %><% end %>
        <% elsif I18n.locale == :hu %>
            <% if post.description_hu %><%= post.description_hu %><% else %><%= post.description %><% end %>
        <% elsif I18n.locale == :de %>
            <% if post.description_de %><%= post.description_de %><% else %><%= post.description %><% end %>
        <% elsif I18n.locale == :da %>
            <% if post.description_da %><%= post.description_it %><% else %><%= post.description %><% end %>
        <% elsif I18n.locale == :el %>
            <% if post.description_el %><%= post.description_it %><% else %><%= post.description %><% end %>
        <% end %>
        </div>
    <% end %>
</div>
